In [1]:
# List of high schools
high_schools = ["Hernandez High School", "Figueroa High School", "Wilson High School", "Wright High School"]

In [2]:
for school in high_schools:
    print(school)

Hernandez High School
Figueroa High School
Wilson High School
Wright High School

In [3]:
# A dictionary of high schools and the type of school.
high_school_types = [{"High School" : "Griffin", "Type":"District"},
                    {"High School" : "Figueroa", "Type":"District"},
                    {"High School" : "Wilson", "Type":"Charter"},
                    {"High School" : "Wright", "Type": "Charter"}]

In [4]:
print(high_school_types)

[{'High School': 'Griffin', 'Type': 'District'}, {'High School': 'Figueroa', 'Type': 'District'}, {'High School': 'Wilson', 'Type': 'Charter'}, {'High School': 'Wright', 'Type': 'Charter'}]

In [13]:
# List of high schools
high_schools = ["Huang High School", "Figueroa High School", "Shelton High School", "Hernandez High School", "Griffin High School", "Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School", "Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]

In [7]:
#Add the Pandas dependency
import pandas as pd

In [14]:
# Create a Pandas Series from a list.
school_series = pd.Series(high_schools)
school_series

0         Huang High School
1      Figueroa High School
2       Shelton High School
3     Hernandez High School
4       Griffin High School
5        Wilson High School
6       Cabrera High School
7        Bailey High School
8        Holden High School
9          Pena High School
10       Wright High School
11    Rodriguez High School
12      Johnson High School
13         Ford High School
14       Thomas High School
dtype: object

In [15]:
for high_schools in school_series:
    print(high_schools)

Huang High School
Figueroa High School
Shelton High School
Hernandez High School
Griffin High School
Wilson High School
Cabrera High School
Bailey High School
Holden High School
Pena High School
Wright High School
Rodriguez High School
Johnson High School
Ford High School
Thomas High School

In [16]:
# A dictionary of high schools
high_school_dicts = [{"School ID": 0, "school_name": "Huang High    School", "type": "District"},
                   {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]

In [33]:
# Convert the array to a DataFrame
school_df = pd.DataFrame(high_school_dicts)
school_df

   School ID            school_name      type
0          0   Huang High    School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [21]:
# Three separate lists of information on high schools
school_id = [0, 1, 2, 3, 4]

school_name = ["Huange High School", "Figueroa High School", "Shelton High School", "Hernandez High School", "Griffin High School"]

type_of_school = ["District", "District", "Charter", "District", "Charter"]

In [24]:
# Initialize a new DataFrame.
schools_df = pd.DataFrame()

In [25]:
# Add the list to a new DataFrame.
schools_df["School ID"] = school_id
schools_df["School_Name"] = school_name
schools_df["type_of_school"] = type_of_school

print(schools_df)

   School ID            School_Name type_of_school
0          0     Huange High School       District
1          1   Figueroa High School       District
2          2    Shelton High School        Charter
3          3  Hernandez High School       District
4          4    Griffin High School        Charter

In [28]:
# Create a dictionary of information on high schools.
high_schools_dict = {'school ID': school_id, 'school_name': school_name, 'type': type_of_school}

In [29]:
# Initialize new DataFrame for high_schools_dict
high_schools_dict_df = pd.DataFrame(high_schools_dict)
print(high_schools_dict_df)

   school ID            school_name      type
0          0     Huange High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [45]:
# Skill Drill - Create a list for each column...
school_id = range(0, 15)

school_name = ["Huange High School", "Figueroa High School", "Shelton High School", "Hernandez High School", "Griffin High School", "Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School", "Rodriquez High School", "Johnson High School", "Ford High School", "Thomas High School"]

type_of_school = ["District", "District", "Charter", "District", "Charter", "Charter", "Charter", "District", "Charter", "Charter", "Charter", "District", "District", "District", "Charter"]

In [46]:
# Skill Drill - Create new DataFrame
skilldrill_df = pd.DataFrame()

In [47]:
#Skill Drill - Assign lists to new DataFrame
skilldrill_df["School ID"] = school_id
skilldrill_df["School Name"] = school_name
skilldrill_df["Type"] = type_of_school

In [48]:
#Skill Drill - Print new DataFrame
print(skilldrill_df)

    School ID            School Name      Type
0           0     Huange High School  District
1           1   Figueroa High School  District
2           2    Shelton High School   Charter
3           3  Hernandez High School  District
4           4    Griffin High School   Charter
5           5     Wilson High School   Charter
6           6    Cabrera High School   Charter
7           7     Bailey High School  District
8           8     Holden High School   Charter
9           9       Pena High School   Charter
10         10     Wright High School   Charter
11         11  Rodriquez High School  District
12         12    Johnson High School  District
13         13       Ford High School  District
14         14     Thomas High School   Charter